{
    "extends": "ebay/legacy",
    "env": {
        "browser": true,
        "jquery": true
    },
    "rules": {
        "no-param-reassign": 0,
        "no-shadow-restricted-names": 0,
        "no-unused-vars": 0    
    }
}
