# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript

# Test coverage and unit test reports
test_reports

# Lint output
jshint.txt

# Code style output
jscs.txt

# JSDoc
jsdoc
